
# Rust compiler output
/rust/target
/rust/src/target

# Compiled Python bytecode
*.py[cod]
__pycache__

# uv virtual environment
.venv

# Generated data
data/*.dat
data/mysql
data/dynamic.toml
data/dynamic*.toml

# Test symlink created by python/tests/conftest.py (Docker-style ../data layout)
python/data

out.txt
.vscode

# macOS
.DS_Store