
# Rust compiler output
/rust/target
/rust/src/target

# Compiled Python bytecode
*.py[cod]
__pycache__

# Generated data
data/*.dat
data/mysql
data/dynamic.toml
data/dynamic*.toml

out.txt
rust/Cargo.lock